################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Solution_BE_102024/.vs/Solution_BE_102024
/Solution_BE_102024/Solution_BE_102024/.vs
